

<div class="container">
    <div class="row" id="user-profile">
        
            <div class="main-box clearfix colrs">
                <h2>Russell </h2>
                <div class="profile-status">
                    <i class="fa fa-check-circle"></i> Online
                </div>
                <img src="https://www.nicepng.com/png/detail/340-3400291_smiling-person-png-man-with-arms-crossed-png.png" alt="" class="profile-img img-responsive center-block image1">
                <div class="profile-label">
                    <span class="label label-danger">Admin</span>
                </div>

               

                <div class="profile-message-btn center-block text-center">
                    <a href="#" class="btn btn-success  bg-dark">
                        <i class="fa fa-envelope "></i> Send message
                    </a>
                </div>
            </div>
        </div>
        </div>