
        <!-- Row start -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


                    <!-- Row start -->
                    
                            <div class="users-container">
                                <div class="chat-search-box">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="Search">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-info">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <ul class="users">
                                    <li class="person" data-chat="person1">
                                        <div class="user">
                                            <img src="https://www.vhv.rs/dpng/d/148-1486437_smiling-businessman-png-transparent-png.png" alt="Retail Admin">
                                            <span class="status online"></span>
                                        </div>
                                        <p class="name-time">
                                            <span class="name">Sam </span>
                                            <span class="time">Online</span>
                                        </p>
                                    </li>
                                    <li class="person" data-chat="person1">
                                        <div class="user">
                                            <img src="https://www.nicepng.com/png/detail/340-3400291_smiling-person-png-man-with-arms-crossed-png.png" alt="Retail Admin">
                                            <span class="status online"></span>
                                        </div>
                                        <p class="name-time">
                                            <span class="name">Russell </span>
                                            <span class="time">Online</span>
                                        </p>
                                    </li>
                                    <li class="person" data-chat="person2">
                                        <div class="user">
                                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxoEq5Rlm_kNtyFHeRiBRdPJRfPtfLaD70wIZU2UaJTOx8UFWGWQXwhgAvJYhiIiPevW4&usqp=CAU" alt="Retail Admin">
                                            <span class="status online"></span>
                                        </div>
                                        <p class="name-time">
                                            <span class="name">Joyse </span>
                                            <span class="time">Online</span>
                                        </p>
                                    </li>
                                    <li class="person" data-chat="person3">
                                        <div class="user">
                                            <img src="https://freepngimg.com/thumb/businessman/22183-4-businessman.png" alt="Retail Admin">
                                            <span class="status offline"></span>
                                        </div>
                                        <p class="name-time">
                                            <span class="name">Johnson </span>
                                            <span class="time">Offline</span>
                                        </p>
                                    </li>
                                    <li class="person" data-chat="person4">
                                        <div class="user">
                                            <img src="https://www.seekpng.com/png/detail/803-8038944_happy-person-png-tecnologia-de-la-felicidad.png" alt="Retail Admin">
                                            <span class="status offline"></span>
                                        </div>
                                        <p class="name-time">
                                            <span class="name">Lisa </span>
                                            <span class="time">Offline</span>
                                        </p>
                                    </li>
                                    <li class="person" data-chat="person5">
                                        <div class="user">
                                            <img src="https://png.pngitem.com/pimgs/s/106-1068071_black-person-png-black-man-business-png-transparent.png" alt="Retail Admin">
                                            <span class="status online"></span>
                                        </div>
                                        <p class="name-time">
                                            <span class="name">Jordan </span>
                                            <span class="time">Online</span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                    